body {
    background: #0E1317;
    color: #eeeeee;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

button{
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
}

.dropdown-trigger {
    background: #252C30;
    border: 1px solid #587083;
    border-radius: 3px;
    padding: 0.1rem 1rem;
    cursor: default;
}

.dropdown-menu {
    background: #252C30;
    border: 1px solid #587083;
    padding: 0.2rem;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #313A3F;
    border-radius: 3px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.image-credits {
    position: relative;
    border: 1px solid #587083;
    border-radius: 3px;
    padding: 0.1rem 1rem;
}

.image-credits:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
}

@keyframes imageCreditShow {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, calc(-100% - 0.5rem));
    }
}

.image-credits-content {
    display: none;
    flex-direction: column;
    text-wrap: nowrap;
    gap: 0.2rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 0.5rem));
    background: #0E1317;
    border: 1px solid #587083;
    border-radius: 3px;
    padding: 1rem;
    animation: imageCreditShow 100ms ease-in 1;
    color: #587083;
}

.image-credits:hover .image-credits-content {
    display: flex;
}

.image-credits a {
    color: #587083;
}

.image-carousel {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1.5rem;
    gap: 1rem;
    width: 50%;
    aspect-ratio: 14/9;
    background: #252C30;
    border: 1px solid #587083;
    border-radius: 5px;
}

.carousel-btn-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.carousel-nav-container {
    flex: 1; 
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.carousel-nav {
    background: none;
    border: 2px solid #587083;
    border-radius: 50%;
    width: 0.8rem;
    aspect-ratio: 1;
    cursor: pointer;
}

.active-nav {
    background: #587083;
}

.carousel-btn {
    width: 2.5rem;
    aspect-ratio: 1;
    background: none;
    border: 2px solid #587083;
    border-radius: 50%;
    color: #587083;
}

#back-btn {
    transform: rotate(-90deg);
}

#next-btn {
    transform: rotate(90deg);
}

footer {
    display: flex;
    justify-content: center;
}

.credit {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    color: #587083;
}

.credit a {
    display: flex;
    gap: 0.2rem;
    font-size: inherit;
    color: inherit;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}


.carousel-image {
    --image-width: 65%;
    --bezier: cubic-bezier(0.39,0.57,0.56,1);
    display: block;
    position: absolute;
    top: calc(50% - 1rem);
    transform: translate(-50%, -50%);
    background-color: #404d54;
    border: none;
    border-radius: 5px;
    width: var(--image-width);
    aspect-ratio: 4/3;
    transform: translate(-50%, -50%) scale(80%);
    transition: left var(--duration) var(--bezier),
                transform var(--duration) var(--bezier);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}